<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zentap.android">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <queries>

        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Zentap">
        <property
            android:name="android.app.PROPERTY_DATA_SAFETY_ACCOUNT_TYPE"
            android:value="none" />
        <property
            android:name="android.app.PROPERTY_DATA_SAFETY_DATA_COLLECTION"
            android:value="none" />
        <property
            android:name="android.app.PROPERTY_DATA_SAFETY_DATA_SHARING"
            android:value="none" />
        <property
            android:name="android.app.PROPERTY_DATA_SAFETY_DATA_DELETION"
            android:value="none" />
        <receiver
            android:name="com.zentap.android.util.ScheduleAlarmReceiver"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name="com.zentap.android.ui.screens.onboarding.OnboardingPermsActivity"
            android:exported="false" />
        <activity
            android:name="com.zentap.android.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zentap.android.ui.screens.blocked.BlockingActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.zentap.android.ui.screens.onboarding.OnboardingTagActivity"
            android:exported="false"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name="com.zentap.android.ui.screens.privacy.PrivacyPolicyActivity"
            android:exported="false"/>

        <activity
            android:name="com.zentap.android.ui.screens.nfc.ChangeTagActivity"
            android:exported="false"/>


        <activity
            android:name="com.zentap.android.util.NfcActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="zentap"
                    android:host="tag"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="zentap" android:host="tag"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.zentap.android.ui.screens.blocked.AppBlockerAccessibilityService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>